.gameYouWin {
  display: none;
}

.gamePlay {
  display: none;
}

h1 {
  text-align: center;
  font-weight: light;
}

.jumbotron {
  text-align: center;
}

#startGame {
  margin-top: 30px;
  width: 175px;
}
